*{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: sans-serif;
    color: black;
}
.icon{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.baslik1{
    font-size: 70px;
    font-weight: bold;
    font-family: fantasy;
    text-transform: uppercase;
    margin-left: 4%;
    color: #fff;
}
.melankolia{
    background-color: black;
    border: 5px solid black;
    margin-right: 7%;
}
.koli{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 25px;
    margin: 50px;
}
.body{
    background-color: black;
}
.baslik2{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    margin-left: 50px;
    background: -webkit-linear-gradient(45deg,orange,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sarki{
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
.dinle{
    color: rgb(254, 200, 99);
    font-weight: 200;
    font-size: 16px;
}
.dinle:hover{
    color: red;
    text-decoration: none;
}
.yunusep{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.yunusep:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.yunuslan{
    text-align: start;
    margin-left: 20px;

}
.birpes{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.birpes:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.birpesimist{
    text-align: start;
    margin-left: 20px;
}
.gora{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.gora:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
    
}
.gorra{
    text-align: start;
    margin-left: 20px;
}
.romantizma{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.romantizma:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.roman{
    text-align: start;
    margin-left: 20px;
}
.kafile{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.kafile:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.kafil{
    text-align: start;
    margin-left: 20px;
}
.ikimiz{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.ikimiz:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.iki{
    text-align: start;
    margin-left: 20px;
}
.kotuinsan{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.kotuinsan:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.kotu{
    text-align: start;
    margin-left: 20px;
}
.sarkikoleksiyon{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.sarkikoleksiyon:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.sarkikol{
    text-align: start;
    margin-left: 20px;
}
.bendekisen{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.bendekisen:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.bendeki{
    text-align: start;
    margin-left: 20px;
}
.saydamoda{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.saydamoda:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.saydam{
    text-align: start;
    margin-left: 20px;
}
.saykodelik{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.saykodelik:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.sayko{
    text-align: start;
    margin-left: 20px;
}
.kalp{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.kalp:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.hasta{
    text-align: start;
    margin-left: 20px;
}
.ahmak{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.ahmak:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.islatan{
    text-align: start;
    margin-left: 20px;
}
.sarkastik{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.sarkastik:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.sarkas{
    text-align: start;
    margin-left: 20px;
}
.kagit{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.kagit:hover{
    transform: scale(1.2);
    background-color: rgba(103, 99, 99, 0.542);
}
.kesikleri{
    text-align: start;
    margin-left: 20px;
}
.bosluk{
    background-color: black;
    padding-bottom: 40px;
}
.kat{
    background-color: black;
    padding: 5px 5px;
    margin-bottom: 1%;
}
.link{
    color: #fff;
}
.kategori{
    display: inline;
    border: 3px solid black;
    text-align: center;
}
.kategori a:link{
    display: inline-block;
    color: white;
    margin-right: 30px;
    margin-left: 10px;
    text-decoration: none;
    border: black;
    font-size: 22px;
}
.kategori a:hover{
    color: black;
    background-color: white;
    text-decoration: none;
    font-style: oblique;
    font-weight: bold;
}
