.arkaplan{
    background-image: url(SagoKResimler/Romantizma.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.baslik1{
    color: rgba(247, 211, 158, 0.684);
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    font-family: 'KaushanScript-Regular';
}
.yazi{
    color: rgb(175, 175, 184);
    font-size: 21px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
}
.baslik2{
    color: rgba(247, 211, 158, 0.684);
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    margin-left: 30px;
}
.sarki-isimleri{
    color: rgba(247, 211, 158, 0.684);
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    font-size: x-large;
}

.music{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    justify-items: center;
}
.music-2{
    margin-left: -200px;

}
.music-1{
    margin-right: -200px;
}
.music-4{
    margin-left: 200px;

}
.music-3{
    margin-right: 200px;

}
.music-6{
    margin-left: -200px;

}
.music-5{
    margin-right: -200px;
}
.music-8{
    margin-left: 200px;

}
.music-7{
    margin-right: 200px;

}
.music-10{
    margin-left: -200px;

}
.music-9{
    margin-right: -200px;
}

.bolumler{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.bolum1{
    color: aliceblue;
    text-decoration: none;
}
.bolum2{
    color: aliceblue;
    text-decoration: none;
}
.bolum1:hover{
    color: blue;
    text-decoration: underline;
}
.bolum2:hover{
    color: blue;
    text-decoration: underline;
}
.album{
    color:rgba(247, 211, 158, 0.684);
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}
.album:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.al{
    text-align: center;
    margin-top: -10px;
}

@font-face {
    font-family: KaushanScript-Regular;
    src: url(KaushanScript-Regular.ttf);
}