*{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: sans-serif;
    color: black;
}
.icon{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.baslik1{
    cursor: default;
    font-size: 70px;
    font-weight: bold;
    font-family: fantasy;
    text-transform: uppercase;
    margin-left: 60px;
    color: #fff;
}
.melankolia{
    background-color: black;
    border: 5px solid black;
    margin-right: 100px;
}
.sagoresim{
    height: 250px;
    width: 400px;
}
.basresim{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.baslik2{
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    margin-left: 100px;
}
.yazi{
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
    color: black;
    font-size: 20px;
    text-align: start;
    padding-bottom: 10px;
}
.kat{
    background-color: black;
    padding: 5px 5px;
}
.link{
    color: #fff;
}
.kategori{
    display: inline;
    border: 3px solid black;
    text-align: center;
}
.kategori a:link{
    display: inline-block;
    color: white;
    margin-right: 30px;
    margin-left: 10px;
    text-decoration: none;
    border: black;
    font-size: 22px;
}
.kategori a:hover{
    color: black;
    background-color: white;
    text-decoration: underline;
    font-style: oblique;
    font-weight: bold;
}
.kutu{
    box-shadow: 10px -10px 10px rgba(160, 155, 155, 0.488);
    background-color: rgb(194, 186, 186);
    width: 1200px;
    margin: 0px auto;
}
.body{
    background-color: black ;
}
.bosluk{
    background-color: black;
    border: 25px solid black;
}
.ayak{
    color:#fff;
    font-size: 15px;
    font-style: italic;
    cursor: default;
}